@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MyMovie</h1>
    <p>Becurse my movies are the best movies...<br>
    <em>... by Peter, CEO at BestMovie Inc.</em></p>
</div>
