@{
    ViewData["Title"] = "Home Page";
}

<!-- 
    https://www.tutorialspoint.com/asp.net_mvc/asp.net_mvc_quick_guide.htm 
    http://www.binaryintellect.net/articles/85fb9a1d-6b0d-4d1f-932c-555bd27ba401.aspx
    https://www.aspsnippets.com/Articles/Bind-Model-Properties-in-ASPNet-Core-Razor-Pages.aspx
    https://learn.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/search?view=aspnetcore-7.0
-->

<div class="text-center">
    
    <form asp-action="" >
        <input type="text" id="searchString" name="searchString" />
        <input type="submit" value="Search" />

        <input type="checkbox" id="discoverCheckbox" name="discoverCheckbox" value="discoverCheckbox">
        <label for="discoverCheckbox">Discover</label>
    </form> 

</div>
